<!-- src/app/landing-page/landing-page.component.html -->
<div class="container-fluid navy-bg full-height">
  <div class="row full-height align-items-center justify-content-center">
    <div class="col-md-6">
      <div class="landing-page text-center">
        <h1>Welcome to the CredHunters</h1>
        <p>Time to get those +1s</p>
        <button 
          mat-button
          [@buttonAnimation]="buttonState"
          (click)="enterApp()"
          (@buttonAnimation.done)="buttonState = 'normal'"
        >
          Enter
        </button>
      </div>
    </div>
  </div>
</div>