<div class="container-fluid navy-bg full-height">
    <!-- Navigation Bar -->
    <div class="container-fluid navy-bg full-height">
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
              <a class="navbar-brand" href="#">CredHunters</a>
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/coaster-counter">Cred count</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/coaster-list">View Coasters</a>
                  </li>
                </ul>
              </div>
              <h1>#{{ coasterCount }}</h1>
            </div>
          </nav>

<div class="container">
    <h2>Coaster List</h2>
    
    <ul>
      <li *ngFor="let coaster of coasters">
        <p>Name: {{ coaster.name }}</p>
        <p>Park: {{ coaster.park }}</p>
        <p>Manufacturer: {{ coaster.manufacturer }}</p>
      </li>
    </ul>
  </div>
  