@import "~bootstrap/dist/css/bootstrap.css";

/* styles.css or styles.scss */
.navy-bg{
    background-color: #333;
    color: #fff; /* Set text color to white for better readability */
  }

  .full-height {
    height: 100vh;
  }